{% extends "work/base.html" %}
{% block content %}
    <div class="jumbotron" style="text-decoration: inherit; ">
    	<h2 style=" font-family:monotype corsiva; font-weight: 900;">Sent Quotation Details</h2>
    	<table class="table table-striped">
    		<thead>
      			<tr>
        			<th>Name</th>
        			<th>Attendent</th>
        			<th>Phone</th>
        			<th>Subject</th>
        			<th>State Code</th>
        			<th>State</th>
        			<th>Address</th>
        			<th>Quotation Number</th>
        			<th>Date</th>
        			<th>Reference</th>
        
      			</tr>
    		</thead>
    		<tbody>
      			<tr>
        			<td> </td>
        			<td> </td>
        			<td>  </td>
        			<td> </td>
        			<td> </td>
        			<td>  </td>
        			<td> </td>
        			<td> </td>
        			<td>  </td>
        			<td> </td>
        			<td> </td>
        			<td>  </td>
      			</tr>
      
    		</tbody>
  		</table>  
  		<button class="btn btn-success" style="float: right;"><span class="glyphicon glyphicon-edit">Edit</span></button>     
    </div>
{% endblock %}